

$font-family: 'Roboto', 'Noto', 'Helvetica Neue', sans-serif;
$row-height: 56px;

* {
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}